[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
scipy = "*"
pandas = "*"
ipykernel = "*"
seaborn = "*"
pymongo = "*"
plotly = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.11"
